@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* Enable smooth scrolling */
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
  /* Allow scrolling */
  background: linear-gradient(
    135deg,
    rgba(11, 90, 227, 0.8),
    rgba(240, 71, 19, 0.8)
  );
  /* Smooth gradient */
  color: #ffffff;
  position: relative;
  /* For particle animation positioning */
}

.logo {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  left: 20px;
  top: 22px;
  z-index: 10000;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 700px) {
  .logo {
    z-index: -1;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  .logo {
    z-index: -1;
    width: 30px;
    height: 30px;
  }
}

#particles-js {
  position: absolute;
  /* Changed to absolute to prevent overflow issues */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* Full viewport height */
  z-index: 0;
  /* Ensure particles are behind other content */
}

header {
  background: rgba(43, 43, 43, 0.7);
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  position: relative;
  z-index: 1;
  /* Bring header above particles */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffeb8c;
  /* Change color on hover */
}

main {
  padding: 20px;
  position: relative;
  z-index: 1;
  /* Ensure content is above the particles */
}

#title {
  font-size: 2.4em;
  margin-bottom: 10px;
  text-align: center;
  border-right: 2px solid rgba(255, 255, 255, 0);
  /* Cursor effect */
  white-space: nowrap;
  /* Prevent text from wrapping */
  overflow: hidden;
  /* Hide overflow */
  animation: blink 0.7s infinite;
  /* Cursor blink animation */
  font-family: "Playfair Display", serif;
  font-style: italic;
}

#title::before {
  content: "";

  text-align: center;
  border-right: 2px solid rgba(255, 255, 255, 0);
  /* Cursor effect */
}

@media (max-width: 660px) {
  #title {
    font-size: 1em;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #1b76f6;
  padding-bottom: 5px;
  margin: 20px 0;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.columns,
.news-articles,
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Set to 4 columns */
  gap: 20px;
  margin: 20px 0;
}

.column,
.col_links {
  background: #f6f7fa8b;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 12px;
  font-family: "Playfair Display", serif;
}

.column:hover,
.col_links:hover {
  background: #eef2f387;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.section-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #cccccc;
  transition: transform 0.3s ease;
}

.column:hover .section-image,
.col_links:hover .section-image {
  transform: scale(1.04);
  /* Scale up on hover */
  opacity: 0.7;
}

/* .news-articles {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin: 20px 0;
 } */

/* //////////////////////////// */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  scroll-behavior: auto;
}

/* .overlay-content {
   background-color: white;
   padding: 30px;
   border-radius: 10px;
   text-align: center;
   width: 80%;
   max-width: 600px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 } */
.overlay-content {
  background-color: white;
  color: #333;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  /* Limit height to 80% of the viewport */
  overflow-y: auto;
  /* Enable vertical scrolling */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay h2 {
  margin-top: 0;
  font-family: "Antic Didone";
  font-size: 22px;
}

.overlay p {
  margin: 10px 0;
  font-size: 12px;
  font-family: "Playfair Display", serif;
}

.overlay-image {
  width: 40%;
  height: 8em;
  /* max-height: 300px; */
  object-fit: cover;
  border-radius: 5px;
}

.overlay-content {
  animation: overlayFade 0.5s ease;
}

/* Media Queries for responsive design */
@media screen and (max-width: 1024px) {
  .columns,
  .row,
  .news-articles {
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns on medium screens */
  }
}

@media screen and (max-width: 768px) {
  .columns,
  .row,
  .news-articles {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns on small screens */
  }
}

@media screen and (max-width: 550px) {
  .columns,
  .row,
  .news-articles {
    grid-template-columns: repeat(1, 1fr);
    /* 1 column on extra small screens */
  }
}

footer {
  background: rgba(43, 43, 43, 0.7);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1;
  /* Ensure footer is above particles */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Set to 4 columns */
}

footer .creator {
  color: #f1efe7;
  /* Footer link color */
  font-size: 8px;
  margin: 8px 0;
  text-align: center;
}

.social-container {
  position: absolute;
  right: 20px;
  top: 8px;
  display: flex;
  gap: 20px;
  /* Spacing between icons */
}

.social-icon {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 5px 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Facebook */
.facebook {
  background-color: #3b5998;
}

/* Twitter */
.twitter {
  background-color: #00acee;
}

/* Instagram */
.instagram {
  background-color: #e1306c;
}

/* LinkedIn */
.linkedin {
  background-color: #0077b5;
}

/* YouTube */
.youtube {
  background-color: #ff0000;
}

.social-icon:hover {
  transform: scale(1.2);
}

.social-icon:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  /* Adds a shadow effect */
}

/* Media Queries */
@media (max-width: 768px) {
  header h1 {
    font-size: 2em;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
    /* Stack links vertically on small screens */
  }
}

/* Scroll Buttons */
#scrollToTop,
#scrollDown {
  position: fixed;
  bottom: 6px;
  right: 20px;
  background-color: #669de69e;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: none;
  /* Hidden by default */
  z-index: 2;
  /* Above other elements */
}

.ab_container {
  display: none;
}
/* Snow animate  */
